.container {
    width: 100%;
    padding: 60px 5%;
    padding-bottom: 100px;
    background-color: #fff;
}

.container .box {
    margin: auto;
    width: min(1000px, 100%);
}

.container .box .row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}
