.container {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 35%;
    background: var(--primary);
    transition: all 0.3s ease;
    border: 2px solid var(--white);
}
.container:hover {
    border: 2px solid var(--white);
}
